body{
    font-family: Helvetica;
}

div{
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*x6b04c*_ga*NjM5NDAwNDE4Mi4xNjk3NDIxOTA2*_ga_3LRZM6TM9L*MTcwNDY2MDAwOS44LjEuMTcwNDY2MTM1OS41NC4wLjA.");
    font-size: 100px;
    color: khaki;
    text-align: center;
    font-weight: bold;
}

h3{
    font-weight: normal;
}

.blue{
    color: blue;
    font-weight: bold;
}

#Brushes{
    font-size: 32px;
    color: white;
    background-color: mediumspringgreen;
    font-weight: bold;
}

#Frames{
    background-color: lightcoral;
    font-size: 32px;
    color: white;
    font-weight: bold;
}